@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');

$font: 'Oswald', sans-serif;

main {
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
	width: 95%;
	max-width: 1000px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;

	header,
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	button {
		margin: 30px;
		padding: 5px;
		width: 300px;
		font-family: $font;
		font-size: 20px;
		border: 2px;
		border-style: solid;
		border-radius: 5px;
		background-color: white;
		color: black;
		&:hover {
			background-color: black;
			cursor: pointer;
			color: white;
		}
		.fa-twitter {
			color: #1da1f2;
		}
	}
}